:root {
    --website-footer-text-wrapper-gap: 20px;
    --website-footer-text-wrapper-width: 480px;
    --website-footer-logo-fontsize: 1.5rem;
    --website-footer-logo-padding: 0 30px 0 0;
    --website-footer-logo-icon-fontsize: 1.3rem;
    --website-footer-logo-icon-top: 7px;
    // --website-footer-from-wrap-grid-col: span 3;
    // --website-footer-grid-template: auto / 1fr 1fr;
    // --website-footer-form-contact-gap: 12px;
    // --website-footer-form-contact-btn-mrg: 7px auto 0 0;
    // --website-footer-form-contact-grid-template: auto / auto;
    // --website-footer-width: 100px;
    // --website-footer-form-contact-align-item: unset;
    // --website-footer-footer-copyright-flex-dir: column;
    // --website-footer-footer-copyright-gap: 5px;
    // --website-footer-footer-copyright-justify-content: unset;


    // --website-footer-social-icons-top: unset;
    // --website-footer-social-icons-fsize: unset;
}

@layer footer {
    .global-footer {
        .text-wrapper {
            display: flex;
            flex-direction: column;
            gap: var(--website-footer-text-wrapper-gap);
            margin: 0 auto;
            max-width: var(--website-footer-text-wrapper-width);
        }

        .logo {
            position: relative;
            padding: var(--website-footer-logo-padding);
            font-size: var(--website-footer-logo-fontsize);

            &::after {    
                position: absolute;
                top: var(--website-footer-logo-icon-top);
                right: 0;
                font-size: var(--website-footer-logo-icon-fontsize);
            }
        }

        .logo, a {
            &:hover {
                text-decoration: none;
            }
        }

        p, .footer-items-list {
            margin: 0;
        }

        .footer-items-list {
            list-style: none;
            padding: 0;

            a {
                position: relative;
                display: inline-block;
                padding-left: 30px;

                &::before {    
                    position: absolute;
                    top: -2px;
                    left: 0;
                    font-size: 1.3rem;
                }

            }
        }

        .copyright {
            font-size: .8rem;
        }



        // Extra Large screens ...
        @media (min-width: 1400px) {
            border: 10px solid purple;
            --website-footer-text-wrapper-gap: 30px;
            --website-footer-logo-fontsize: 2rem;
            --website-footer-logo-icon-fontsize: 1.5rem;
            --website-footer-logo-icon-top: 9px;
            --website-footer-logo-padding: 0 37px 0 0;
        }
        
        // Large screens ...
        @media (min-width: 1200px) and (max-width: (1400px - 1)) {
            border: 10px solid violet;
            --website-footer-text-wrapper-gap: 30px;
            --website-footer-logo-fontsize: 2rem;
            --website-footer-logo-icon-fontsize: 1.5rem;
            --website-footer-logo-icon-top: 9px;
            --website-footer-logo-padding: 0 37px 0 0;
        }
        
        // Large Medium screens ...
        @media (min-width: 992px) and (max-width: (1200px - 1)) {
            border: 10px solid lime;
            --website-footer-text-wrapper-gap: 30px;
            --website-footer-logo-fontsize: 2rem;
            --website-footer-logo-icon-fontsize: 1.5rem;
            --website-footer-logo-icon-top: 9px;
            --website-footer-logo-padding: 0 37px 0 0;
        }

        // Medium Medium screens ...
        @media (min-width: 768px) and (max-width: (992px - 1)) {
            border: 10px solid blue;
        }

        // Small Medium screens ...
        @media (min-width: 576px) and (max-width: (768px - 1)) {
            border: 10px solid turquoise;
        }

        // Smaller screens ...
        @media (max-width: (576px - 1px)) {
            border: 10px solid chocolate;
        }
    }
}