

:root {
    --website-hero-marg-top: 0;
    --website-hero-h-margin: 0 0 15px 0;
    --website-hero-p-font-size: 18px;
}


@layer hero {
    .hero {
        margin-top: var(--website-hero-marg-top);
        max-width: var(--website-box-width-1);

        h1 {
            margin: var(--website-hero-h-margin);
        }
        p {
            font-size: var(--website-hero-p-font-size);
            color: var(--website-clr-gray-300);
        }

        p:last-of-type {
            margin-bottom: 0;
        }


        // Extra Large screens ...
        @media (min-width: 1400px) {
            // border: 2px solid purple;
            --website-hero-h-margin: 0 0 30px 0;
            --website-hero-marg-top: 45px;
            --website-hero-p-font-size: 24px;
        }

        // Large screens ...
        @media (min-width: 1200px) and (max-width: (1400px - 1)) {
            // border: 2px solid violet;
            --website-hero-h-margin: 0 0 30px 0;
            --website-hero-marg-top: 30px;
            --website-hero-p-font-size: 24px;
        }

        // Large Medium screens ...
        @media (min-width: 992px) and (max-width: (1200px - 1)) {
            // border: 2px solid lime;
            --website-hero-h-margin: 0 0 20px 0;
            --website-hero-marg-top: 15px;
            --website-hero-p-font-size: 22px;
        }

        // Medium Medium screens ...
        @media (min-width: 768px) and (max-width: (992px - 1)) {
            // border: 2px solid blue;
            --website-hero-h-margin: 0 0 20px 0;
            --website-hero-p-font-size: 19px;
        }
    }
}
